// Here you can add other styles

/*
.card-header > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
*/

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.click-file{
  cursor:pointer;
}

#cropp-img-img{
  max-width:500px;
  max-height:500px;
}
body{
  background: linear-gradient(200deg,rgba(92,30,166,1) 0%,rgba(200,67,94,1) 100%);
  font-family: monospace;
}
.c-app, .c-header, .c-main{
  background: transparent;
}

.games-index .row {
  margin: 0px;
}
.games-index .card-body {
  padding: 0px;
}
.games-index .col-3 {
  padding: 0px;
}
.games-index .col-9 {
  padding: 10px 20px;
}
.games-index img {
  width: 100%;
}
.games-index p {
  font-size: 16px;
  text-align: justify;
}
.games-index .card {
  background-color: rgb(16 7 60 / 78%);
  color: #fff;
  border: none;
}
.games-index .btn {
  font-size: 16px;
  padding: 5px 40px;
  color: #070707;
}
.num-img{
  width: 70px;
}
.games-detail {
  color: #fff;
}
.games-detail .num-img {
  background: transparent;
  border: 1px solid #797777;
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 60px;
}
.games-detail .game-option .btn {
  margin-top: -8px;
  margin-left: 20px;
  font-weight: bold;
  color: #fff;
}
.game-box-chat{
  margin-top: 10px;
}
.game-box-chat .card {
  background-color: rgb(235 232 243 / 90%);
}
.game-box-chat .card-footer{
  background-color: transparent;
}
.game-box-chat .symbol {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.475rem;
}
.game-box-chat .symbol-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
}
.game-box-chat .symbol-group.symbol-hover .symbol {
  cursor: pointer;
}
.game-box-chat .symbol-group .symbol {
  position: relative;
  z-index: 0;
  margin-left: -10px;
  transition: all 0.3s ease;
}
.game-box-chat .symbol.symbol-circle,
.game-box-chat .symbol.symbol-circle > img,
.game-box-chat .symbol.symbol-circle .symbol-label {
  border-radius: 50%;
}
.game-box-chat .symbol.symbol-35px > img {
  width: 35px;
  height: 35px;
}
.game-box-chat .card .card-header .card-title {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  margin-left: 0;
}
.game-box-chat .card .card-header .card-title,
.game-box-chat .card .card-header .card-title .card-label {
  font-weight: 500;
  font-size: 1.275rem;
  color: var(--bs-text-dark);
}
.game-box-chat .card .card-body {
  padding: 2rem 2.25rem;
  color: var(--bs-card-color);
}
.game-box-chat .scroll-y {
  overflow-y: auto;
  position: relative;
  max-height: 176px;
}
.game-box-chat .fw-bold {
  font-weight: 600 !important;
}
.game-box-chat .me-1 {
  margin-right: 0.25rem !important;
}
.game-box-chat .text-muted {
  color: #a1a5b7;
}
.game-box-chat .text-gray-900 {
  color: #181c32;
}
.game-box-chat .ms-3 {
  margin-left: 0.75rem !important;
}
.game-box-chat .bg-light-info {
  background-color: #f8f5ff !important;
}
.game-box-chat .mw-lg-400px {
  max-width: 400px !important;
}
.game-box-chat .p-5 {
  padding: 10px 15px !important;
}
.game-box-chat .text-dark{
  color: #181c32 !important;
}
.game-box-chat .bg-light-primary {
    background-color: #f1faff !important;
}
.game-box-chat .me-3 {
    margin-right: 0.75rem !important;
}
.game-box-chat .mb-10 {
  margin-bottom: 10px;
}
.game-box-chat .input-group-text {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #fff;
    background-color: #4735df;
    border-color: #4735df;
}
.list-user{
  background: #151c8799;
  padding: 10px;
  border-radius: 10px;
}
.list-user h2{
      text-align: center;
    font-size: 18px;
    color: rgb(92, 255, 182);
    font-weight: bold;
    margin-bottom: 12px;
}
.list-user .symbol-circle img{
  border-radius: 50%;
}
.list-user .flex-stack{
  background: rgb(235 229 244 / 83%);
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: rgb(48, 26, 107);
  margin-bottom: 10px ;
}
.list-user .flex-stack.user_status_1{
  background: rgb(159 229 158 / 89%);
}
.list-user .flex-stack.user_status_2{
  background: rgb(238 161 150 / 89%);
}
.list-user .flex-stack.user_status_3{
  background: rgb(238 234 150 / 89%);
}
.list-user .flex-stack .align-items-center{
  width: calc(100% - 50px);
}
.list-user .align-items-end{
  width: 50px;
  align-items: center !important;
  margin: auto;
}
.list-user .align-items-center .ms-3{
  margin-left: 10px;
}
.list-user .align-items-center p{
  margin: 0px;
  color: rgb(21 20 20 / 89%);
}
.list-user .align-items-end i.active{
  font-size: 24px;
  color: #0f923b;
}
.list-user .align-items-end i.waiting{
  font-size: 24px;
  color: #6d6e6de8;
}
.game-box-chat .card-footer {
  padding: 0px;
  border: none;
}
.game-box-chat .card .card-body{
  padding: 10px;
  min-height: 180px;
}
.list-user .box-action{
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px 0px;
}
.game-box-chat .form-control{
  color:#121111
}
.c-header.c-header-with-subheader{
  border: none;
}
.c-footer{
  background: transparent;
  border: none;
}
.list-user button.btn{
  font-weight: bold;
}
.flip-box {
background-color: transparent;
width: 200px;
perspective: 1000px;
margin: auto;
}

.flip-box-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.5s;
transform-style: preserve-3d;
}

.flip-box.active .flip-box-inner {
transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-box-front {
background-color: #bbb;
color: black;
}

.flip-box-back {
background-color: #555;
color: white;
transform: rotateY(180deg);
}
@media only screen and (min-width: 768px) {
  .c-wrapper:not(.c-wrapper-fluid) {
    height: 92vh;
  }
  .c-wrapper {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    border: 4px rgba(29,29,27,.15) solid;
    border-radius: 5px;
    padding: 20px;
    box-shadow: inset 0px 2px 0px 0px rgb(255 255 255 / 15%), 0px 3px 0px 0px rgb(255 255 255 / 15%);
  }
}
.container-fluid{
  padding: 0px;
}
.flip-box-back img{
  border-radius: 6px;
}
.flip-box-front img{
  border-radius: 6px;
}
.modal_change_img .modal-footer{
  display: none ;
}
.modal_change_img .modal-title{
    font-weight: bold;
}
.modal_change_img .modal-header{
    padding: 10px 20px;
}
.modal_change_img .modal-header .btn-close{
  color: #fff;
  margin-top: -5px;
}
.modal_change_img .col-4{
  padding: 10px;
}
.modal_change_img .modal-body{
  padding: 10px 20px;
  max-height: 82vh;
  overflow-y: auto;
  height: auto;
}
.modal_change_img .modal_image{
  border-radius: 6px;
  cursor: pointer;
}
.games-detail .fa-rotate{
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 24px;
  cursor: pointer;
}
.c-wrapper:not(.c-wrapper-fluid) .c-body{
  overflow-y:hidden
}
.zoom-in-zoom-out {
  animation: zoom-in-zoom-out 2s ease-out infinite;
}
.modal-info .modal-content{
  border: none;
}
.box {
  text-align: center;
  font-size: 30px;
  color: #fff;
  line-height: 30px;
  left: 40%;
  top: 20%;
  position: absolute;
  z-index: 10;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
@media only screen and (max-width: 768px) {
  .container{
    padding: 10px;
  }
  .c-main{
    padding-top: 15px;
  }
  .container-fluid{
    padding: 0px;
  }
  .games-index .col-12{
    padding: 0px 5px;
  }
  .games-index p {
    font-size: 12px;
    text-align: justify;
    margin-bottom: 10px;
  }
  .games-index h2 {
    font-size: 14px;
    margin: 0px;
  }
  .games-index .btn {
    font-size: 12px;
    padding: 3px 15px;
    color: #070707;
  }
  .games-index .col-9 {
    padding: 10px 10px;
  }
  .games-detail .games-detail-show{
    min-height: 300px;
  }
  .modal_change_img .modal-body{
    max-height: 48vh;
  }
  .games-detail .fa-rotate{
    left: 20px;
  }
}